body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__ubuntu;
	@include font-size(0.9);
	line-height: $font__line-height-body;

	@media only screen and (min-width: $query__medium) {
		@include font-size(0.95);
	}

	@media only screen and (min-width: $query__large) {
		@include font-size(1);
	}

	@media only screen and (min-width: $query__extralarge) {
		@include font-size(1.2);
	}
}

@import "headings";

@import "copy";
