.site-header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 1em;
    background-color: $color__background-header;
    color: $color__header;

    @media screen and (min-width: $query__medium) {
        padding: 1em 1.5em;
    }
}

header#masthead:after {
    content:"";
    width:100%;
    height:3px;
    left:0;
    bottom:0;
    position:absolute;
    z-index:9;
    background:linear-gradient(to right, transparent, $color__body-insertions, transparent);
}

.site-branding {
    display: flex;
    min-height: 65px;
}

.custom-logo-link {
    margin-right: 1em;

    img {
        display: block;
        height: 65px;
        width: auto;
    }
}

.site-branding_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65px;
}

.site-title {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1em;

    a {
        color: $color__header;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.site-description {
    margin: 0;
    font-style: italic;
    font-size: 1.1em;
    font-weight: 400;
}

.header-image {
    max-height: 70vh;
    overflow: hidden;

    img {
        display: block;
        width: 100vw;
    }
}

@media screen and (min-width: $query__medium) {
    .site-header {
        align-items: center;
        justify-content: space-between
    }

    .site-branding {
        width: 35%;
    }

    .main-navigation {
        width: 55%;
        // display: flex;
        // justify-content: flex-end;

        ul {
            display: flex;
            justify-content: space-evenly;
        }
    }
}

/*
Header Menu
*/
@import "header-menu";